
header{
    background-color: rgb(11, 52, 70);
    color: white;
}
.nav{
    background-color: rgb(30, 86, 121);
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}
h1{
    text-align: center;
    margin-bottom: auto;
}
.recetas{
    text-align: center;
}
.img1{
    max-width: 40%;
    height: 300px;
    margin: 20px;
    padding: 5px;
    display: inline-block;
    margin: auto;
    margin-right: 30px;
}
footer{
    background-color: rgb(11, 52, 70);
    color: white;
    text-align: center;
    margin-top: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
